body {
    background-color: antiquewhite;
}
h1 {
    color: brown;
}
img {
    border-radius: 100px;
}
.info {
    color:rgb(104, 5, 5);
    background-color:rgb(253, 250, 248);
    border-radius: 40px;
    width: 230px;
}
.education {
    color:rgb(104, 5, 5);
    background-color:rgb(253, 250, 248);
    border-radius: 10px;
    width: 230px;
}
.Job_exp {
    color:rgb(104, 5, 5);
    background-color:rgb(253, 250, 248);
    width: 350px;
    border-radius: 10px;
    height: 520px;
}

.Performance {
    color:rgb(104, 5, 5);
    background-color:rgb(253, 250, 248);
    width: 320px;
    height: 180px;
    border-radius: 10px;
}

.Contact {
    color:rgb(104, 5, 5);
    background-color:rgb(253, 250, 248);
    width: 350px;
    border-radius: 10px;
}

.Geobit {
    background-color: antiquewhite;
    border-radius: 10px;
    color:rgb(104, 5, 5);
}
.Trade {
    background-color: antiquewhite;
    border-radius: 10px;
    color:rgb(104, 5, 5);
}
.Liberty {
    background-color: antiquewhite;
    border-radius: 10px;
    height: px;
    color:rgb(104, 5, 5);
}