.H1{
    text-align: center;
    color: rgb(172, 43, 43);
}

h3 {
    color: rgb(136, 36, 36);
}
.Ingredients {
    border-radius: 20px;
    background-color: rgb(228, 220, 209);
    width: 15%;
    text-align: center;
    color: brown
}

body {
    background-color: antiquewhite;
}
.img {
    border-radius: 50px;
}

.Table {
    justify-self: center;
    background-color: bisque;
    border-radius: 10px;
}
.head {
    color: brown;
    width: 100px;
    text-align: center;
}
.data {
    text-align: center;
    color: rgb(183, 81, 8);
}